mixin sidebarItem(item, parentId)
  - const id = parentId ? `${parentId}_${item.name}` : item.name;

  li
    if item.children
      //- Button to toggle submodule/module
      button(
        onclick=`toggleSection('${id}')`
        class="flex justify-between w-full font-semibold text-white hover:text-black"
      )
        span #{item.name}
        svg(class="w-4 h-4 transition-transform rotate-0" id=`arrow-${id}` fill="none" stroke="currentColor" viewBox="0 0 24 24")
          path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7")

      //- Nested UL for children
      ul(id=id class="pl-4 mt-2 space-y-2 text-sm hidden")
        each child in item.children
          +sidebarItem(child, id)
    else
      //- Leaf: method link
      a(href=item.href class="hover:text-black") #{item.name}
