html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap", rel="stylesheet")
        link(href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@400,300,500&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="fav-icon.png")
        script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js", defer="defer")
    
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            include components/_navbar.pug
            
            section(class="py-20 overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-col md:max-w-4xl text-center mx-auto justify-center items-center")
                        h2(class="font-heading mb-8 text-7xl lg:text-8xl text-white tracking-7xl lg:tracking-8xl")
                            | Schedule a discovery call

                        //- Contact form
                        form(
                            action="https://formspree.io/f/xldnkwkb"
                            method="POST"
                            class="flex flex-wrap justify-center -m-2 mb-10"
                        )
                            //- Redirect after submission
                            input(
                            type="hidden"
                            name="_redirect"
                            value="submission.html"
                            )

                            // Name
                            div(class="w-full md:w-3/4 p-2")
                                div(class="mb-2 border border-gray-900 focus-within:border-white overflow-hidden rounded-3xl")
                                    input(
                                    class="pl-6 pr-16 py-4 text-white w-full placeholder-gray-300 outline-none bg-transparent"
                                    type="text"
                                    name="name"
                                    placeholder="Name"
                                    required
                                    )

                            // Email
                            div(class="w-full md:w-3/4 p-2")
                                div(class="mb-2 border border-gray-900 focus-within:border-white overflow-hidden rounded-3xl")
                                    input(
                                    class="pl-6 pr-16 py-4 text-white w-full placeholder-gray-300 outline-none bg-transparent"
                                    type="email"
                                    name="email"
                                    placeholder="E-mail"
                                    required
                                    )

                            // Company
                            div(class="w-full md:w-3/4 p-2")
                                div(class="mb-2 border border-gray-900 focus-within:border-white overflow-hidden rounded-3xl")
                                    input(
                                    class="pl-6 pr-16 py-4 text-white w-full placeholder-gray-300 outline-none bg-transparent"
                                    type="text"
                                    name="company name"
                                    placeholder="Company"
                                    required
                                    )

                            // Message Body (Textarea)
                            div(class="w-full md:w-3/4 p-2")
                                div(class="mb-2 border border-gray-900 focus-within:border-white overflow-hidden rounded-3xl")
                                    textarea(
                                    class="pl-6 pr-6 py-4 text-white w-full h-48 resize-none placeholder-gray-300 outline-none bg-transparent"
                                    name="message body"
                                    placeholder="Your message..."
                                    required
                                    )

                            // Submit Button
                            div(class="w-full md:w-3/4 p-2")
                                button(
                                type="submit"
                                class="block w-full px-14 py-4 text-center font-medium tracking-2xl border-2 border-green-400 bg-green-400 hover:bg-green-500 text-black focus:ring-4 focus:ring-green-500 focus:ring-opacity-40 rounded-full transition duration-300"
                                ) Submit

                                        
            
            //- Page bottom
            include components/_page_bottom.pug